.cursor{
    position: fixed;
    left:0;
    top:0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: difference;
}
/* .cursorContainer{
    background-color: #fff;
} */
 